<a href="https://colab.research.google.com/github/jyothishri184/Market-basket-Analysis/blob/main/Pre_Processing_Market_Basket_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MARKET BASKET ANAYSIS

#DATA LOADING

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=05f04089a37f322d3d442a6673fae099e6826d494017de80116db941cb78bc7d
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MarketBasketAnalysis").getOrCreate()

In [ ]:
df_1 = spark.read.csv("/online_retail_II_10_11.csv",header=True,inferSchema=True)

In [ ]:
df_1.show()

+-------+---------+--------------------+--------+----------------+-----+-----------+--------------+
|Invoice|StockCode|         Description|Quantity|     InvoiceDate|Price|Customer ID|       Country|
+-------+---------+--------------------+--------+----------------+-----+-----------+--------------+
| 536365|   85123A|WHITE HANGING HEA...|       6|01-12-2010 08:26| 2.55|      17850|United Kingdom|
| 536365|    71053| WHITE METAL LANTERN|       6|01-12-2010 08:26| 3.39|      17850|United Kingdom|
| 536365|   84406B|CREAM CUPID HEART...|       8|01-12-2010 08:26| 2.75|      17850|United Kingdom|
| 536365|   84029G|KNITTED UNION FLA...|       6|01-12-2010 08:26| 3.39|      17850|United Kingdom|
| 536365|   84029E|RED WOOLLY HOTTIE...|       6|01-12-2010 08:26| 3.39|      17850|United Kingdom|
| 536365|    22752|SET 7 BABUSHKA NE...|       2|01-12-2010 08:26| 7.65|      17850|United Kingdom|
| 536365|    21730|GLASS STAR FROSTE...|       6|01-12-2010 08:26| 4.25|      17850|United Kingdom|
| 536366|    22633|HAND WARMER UNION...|       6|01-12-2010 08:28| 1.85|      17850|United Kingdom|
| 536366|    22632|HAND WARMER RED P...|       6|01-12-2010 08:28| 1.85|      17850|United Kingdom|
| 536368|    22960|JAM MAKING SET WI...|       6|01-12-2010 08:34| 4.25|      13047|United Kingdom|
| 536368|    22913|RED COAT RACK PAR...|       3|01-12-2010 08:34| 4.95|      13047|United Kingdom|
| 536368|    22912|YELLOW COAT RACK ...|       3|01-12-2010 08:34| 4.95|      13047|United Kingdom|
| 536368|    22914|BLUE COAT RACK PA...|       3|01-12-2010 08:34| 4.95|      13047|United Kingdom|
| 536367|    84879|ASSORTED COLOUR B...|      32|01-12-2010 08:34| 1.69|      13047|United Kingdom|
| 536367|    22745|POPPY'S PLAYHOUSE...|       6|01-12-2010 08:34|  2.1|      13047|United Kingdom|
| 536367|    22748|POPPY'S PLAYHOUSE...|       6|01-12-2010 08:34|  2.1|      13047|United Kingdom|
| 536367|    22749|FELTCRAFT PRINCES...|       8|01-12-2010 08:34| 3.75|      13047|United Kingdom|
| 536367|    22310|IVORY KNITTED MUG...|       6|01-12-2010 08:34| 1.65|      13047|United Kingdom|
| 536367|    84969|BOX OF 6 ASSORTED...|       6|01-12-2010 08:34| 4.25|      13047|United Kingdom|
| 536367|    22623|BOX OF VINTAGE JI...|       3|01-12-2010 08:34| 4.95|      13047|United Kingdom|
+-------+---------+--------------------+--------+----------------+-----+-----------+--------------+
only showing top 20 rows

#PREPROCESSING  


DATA EXPLORATION

In [ ]:
df_1.describe().show()

+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+
|summary|           Invoice|         StockCode|         Description|          Quantity|     InvoiceDate|            Price|       Customer ID|    Country|
+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+
|  count|            541910|            541910|              540456|            541910|          541910|           541910|            406830|     541910|
|   mean| 559965.7926209917|27623.240210938104|             20713.0| 9.552233765754462|            NULL|4.611138332927965|15287.684160460143|       NULL|
| stddev|13428.437355340984| 16799.73762842774|                NULL|218.08095694392543|            NULL|96.75976549366548|1713.6030743514768|       NULL|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|            -80995|01-02-2011 08:23|        -11062.06|             12346|  Australia|
|    max|           C581569|                 m|   wrongly sold sets|             80995|31-10-2011 17:19|          38970.0|             18287|Unspecified|
+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+

In [ ]:
df_1.dtypes

[('Invoice', 'string'),
 ('StockCode', 'string'),
 ('Description', 'string'),
 ('Quantity', 'int'),
 ('InvoiceDate', 'string'),
 ('Price', 'double'),
 ('Customer ID', 'int'),
 ('Country', 'string')]

**Attribute Information:**

**InvoiceNo:** Invoice number. Nominal. A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation.


**StockCode:** Product (item) code. Nominal. A 5-digit integral number uniquely assigned to each distinct product.


**Description:** Product (item) name. Nominal.


 **Quantity:** The quantities of each product (item) per transaction. Numeric.


 **InvoiceDate:**  Invice date and time. Numeric. The day and time when a transaction was generated.


 **UnitPrice:**  Unit price. Numeric. Product price per unit in sterling (Â£).


 **CustomerID:** Customer number. Nominal. A 5-digit integral number uniquely assigned to each customer.


 **Country:**  Country name. Nominal. The name of the country where a customer resides.

COLUMN RENAME

In [ ]:
df_1.columns

['Invoice',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'Price',
 'Customer ID',
 'Country']

In [ ]:
df_1 = df_1.withColumnRenamed("Invoice","transaction_id")
df_1 = df_1.withColumnRenamed("StockCode","product_id")
df_1 = df_1.withColumnRenamed("Description","product_name")
df_1 = df_1.withColumnRenamed("Quantity","quantity")
df_1 = df_1.withColumnRenamed("InvoiceDate","transaction_date")
df_1 = df_1.withColumnRenamed("Price","price")
df_1 = df_1.withColumnRenamed("Customer ID","customer_id")
df_1 = df_1.withColumnRenamed("Country","country")

In [ ]:
df_1.columns

['transaction_id',
 'product_id',
 'product_name',
 'quantity',
 'transaction_date',
 'price',
 'customer_id',
 'country']

DEALING WITH NULL VALUES

In [ ]:
print((df_1.count(), len(df_1.columns)))

(541910, 8)

In [ ]:
df_1 = df_1.dropna()

In [ ]:
print((df_1.count(), len(df_1.columns)))

(406830, 8)

REMOVING DUPLICATES

In [ ]:
print((df_1.count(), len(df_1.columns)))

(406830, 8)

In [ ]:
df_1 = df_1.dropDuplicates()

In [ ]:
print((df_1.count(), len(df_1.columns)))

(401605, 8)

IN Column 'Transation id' removing rows staring with 'C' SINCE they are cancelled order

In [ ]:
from pyspark.sql.functions import col

In [ ]:
df_1 = df_1.filter(~col("transaction_id").startswith("C"))
df_1.show()

+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
|transaction_id|product_id|        product_name|quantity|transaction_date|price|customer_id|       country|
+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
|        536381|     22411|JUMBO SHOPPER VIN...|      10|01-12-2010 09:41| 1.95|      15311|United Kingdom|
|        536392|     22827|RUSTIC  SEVENTEEN...|       1|01-12-2010 10:29|165.0|      13705|United Kingdom|
|        536401|     21592|RETROSPOT CIGAR B...|       1|01-12-2010 11:21| 1.25|      15862|United Kingdom|
|        536464|     22988|   SOLDIERS EGG CUP |       1|01-12-2010 12:23| 1.25|      17968|United Kingdom|
|        536464|     22910|PAPER CHAIN KIT V...|       1|01-12-2010 12:23| 2.95|      17968|United Kingdom|
|        536488|     20878|SET/9 CHRISTMAS T...|       2|01-12-2010 12:31| 1.25|      17897|United Kingdom|
|        536500|     22712|    CARD DOLLY GIRL |      12|01-12-2010 12:35| 0.42|      17377|United Kingdom|
|        536522|     84969|BOX OF 6 ASSORTED...|       1|01-12-2010 12:49| 4.25|      15012|United Kingdom|
|        536569|     22640|SET OF 4 NAPKIN C...|       1|01-12-2010 15:35| 2.55|      16274|United Kingdom|
|        536597|     20726|  LUNCH BAG WOODLAND|       1|01-12-2010 17:35| 1.65|      18011|United Kingdom|
|        536608|     22863|  SOAP DISH BROCANTE|       6|02-12-2010 09:37| 2.95|      12855|United Kingdom|
|        536618|     22440|BALLOON WATER BOM...|      40|02-12-2010 10:17| 0.42|      17017|United Kingdom|
|        536620|     22744|MAKE YOUR OWN MON...|       6|02-12-2010 10:27| 2.95|      14135|United Kingdom|
|        536672|     21288|STRIPEY CHOCOLATE...|       6|02-12-2010 12:10| 2.95|      14491|United Kingdom|
|        536674|     20832|RED FLOCK LOVE HE...|       4|02-12-2010 12:16| 0.85|      15923|United Kingdom|
|        536741|     22652|   TRAVEL SEWING KIT|      10|02-12-2010 13:11| 1.65|      13117|United Kingdom|
|        536749|    90195B|BLACK GEMSTONE BR...|       1|02-12-2010 13:49| 8.95|      17976|United Kingdom|
|        536796|     22557|PLASTERS IN TIN V...|       1|02-12-2010 15:46| 1.65|      15574|United Kingdom|
|        536830|     84077|WORLD WAR 2 GLIDE...|    2880|02-12-2010 17:38| 0.18|      16754|United Kingdom|
|        536841|     22077|6 RIBBONS RUSTIC ...|      12|02-12-2010 18:27| 1.65|      16150|United Kingdom|
+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
only showing top 20 rows

In [ ]:
print((df_1.count(), len(df_1.columns)))

(392733, 8)

converting column 'TRANSACTION_ID' to INT

In [ ]:
df_1 = df_1.withColumn("transaction_id", df_1["transaction_id"].cast("int"))
df_1.show()

+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
|transaction_id|product_id|        product_name|quantity|transaction_date|price|customer_id|       country|
+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
|        536381|     22411|JUMBO SHOPPER VIN...|      10|01-12-2010 09:41| 1.95|      15311|United Kingdom|
|        536392|     22827|RUSTIC  SEVENTEEN...|       1|01-12-2010 10:29|165.0|      13705|United Kingdom|
|        536401|     21592|RETROSPOT CIGAR B...|       1|01-12-2010 11:21| 1.25|      15862|United Kingdom|
|        536464|     22988|   SOLDIERS EGG CUP |       1|01-12-2010 12:23| 1.25|      17968|United Kingdom|
|        536464|     22910|PAPER CHAIN KIT V...|       1|01-12-2010 12:23| 2.95|      17968|United Kingdom|
|        536488|     20878|SET/9 CHRISTMAS T...|       2|01-12-2010 12:31| 1.25|      17897|United Kingdom|
|        536500|     22712|    CARD DOLLY GIRL |      12|01-12-2010 12:35| 0.42|      17377|United Kingdom|
|        536522|     84969|BOX OF 6 ASSORTED...|       1|01-12-2010 12:49| 4.25|      15012|United Kingdom|
|        536569|     22640|SET OF 4 NAPKIN C...|       1|01-12-2010 15:35| 2.55|      16274|United Kingdom|
|        536597|     20726|  LUNCH BAG WOODLAND|       1|01-12-2010 17:35| 1.65|      18011|United Kingdom|
|        536608|     22863|  SOAP DISH BROCANTE|       6|02-12-2010 09:37| 2.95|      12855|United Kingdom|
|        536618|     22440|BALLOON WATER BOM...|      40|02-12-2010 10:17| 0.42|      17017|United Kingdom|
|        536620|     22744|MAKE YOUR OWN MON...|       6|02-12-2010 10:27| 2.95|      14135|United Kingdom|
|        536672|     21288|STRIPEY CHOCOLATE...|       6|02-12-2010 12:10| 2.95|      14491|United Kingdom|
|        536674|     20832|RED FLOCK LOVE HE...|       4|02-12-2010 12:16| 0.85|      15923|United Kingdom|
|        536741|     22652|   TRAVEL SEWING KIT|      10|02-12-2010 13:11| 1.65|      13117|United Kingdom|
|        536749|    90195B|BLACK GEMSTONE BR...|       1|02-12-2010 13:49| 8.95|      17976|United Kingdom|
|        536796|     22557|PLASTERS IN TIN V...|       1|02-12-2010 15:46| 1.65|      15574|United Kingdom|
|        536830|     84077|WORLD WAR 2 GLIDE...|    2880|02-12-2010 17:38| 0.18|      16754|United Kingdom|
|        536841|     22077|6 RIBBONS RUSTIC ...|      12|02-12-2010 18:27| 1.65|      16150|United Kingdom|
+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
only showing top 20 rows

In [ ]:
df_1.dtypes

[('transaction_id', 'int'),
 ('product_id', 'string'),
 ('product_name', 'string'),
 ('quantity', 'int'),
 ('transaction_date', 'string'),
 ('price', 'double'),
 ('customer_id', 'int'),
 ('country', 'string')]

Spliting 'transaction_date' column to 'transaction_date' and 'transaction_time'

In [ ]:
df_1 = df_1

In [ ]:
df_1.show()

+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
|transaction_id|product_id|        product_name|quantity|transaction_date|price|customer_id|       country|
+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
|        536381|     22411|JUMBO SHOPPER VIN...|      10|01-12-2010 09:41| 1.95|      15311|United Kingdom|
|        536392|     22827|RUSTIC  SEVENTEEN...|       1|01-12-2010 10:29|165.0|      13705|United Kingdom|
|        536401|     21592|RETROSPOT CIGAR B...|       1|01-12-2010 11:21| 1.25|      15862|United Kingdom|
|        536464|     22988|   SOLDIERS EGG CUP |       1|01-12-2010 12:23| 1.25|      17968|United Kingdom|
|        536464|     22910|PAPER CHAIN KIT V...|       1|01-12-2010 12:23| 2.95|      17968|United Kingdom|
|        536488|     20878|SET/9 CHRISTMAS T...|       2|01-12-2010 12:31| 1.25|      17897|United Kingdom|
|        536500|     22712|    CARD DOLLY GIRL |      12|01-12-2010 12:35| 0.42|      17377|United Kingdom|
|        536522|     84969|BOX OF 6 ASSORTED...|       1|01-12-2010 12:49| 4.25|      15012|United Kingdom|
|        536569|     22640|SET OF 4 NAPKIN C...|       1|01-12-2010 15:35| 2.55|      16274|United Kingdom|
|        536597|     20726|  LUNCH BAG WOODLAND|       1|01-12-2010 17:35| 1.65|      18011|United Kingdom|
|        536608|     22863|  SOAP DISH BROCANTE|       6|02-12-2010 09:37| 2.95|      12855|United Kingdom|
|        536618|     22440|BALLOON WATER BOM...|      40|02-12-2010 10:17| 0.42|      17017|United Kingdom|
|        536620|     22744|MAKE YOUR OWN MON...|       6|02-12-2010 10:27| 2.95|      14135|United Kingdom|
|        536672|     21288|STRIPEY CHOCOLATE...|       6|02-12-2010 12:10| 2.95|      14491|United Kingdom|
|        536674|     20832|RED FLOCK LOVE HE...|       4|02-12-2010 12:16| 0.85|      15923|United Kingdom|
|        536741|     22652|   TRAVEL SEWING KIT|      10|02-12-2010 13:11| 1.65|      13117|United Kingdom|
|        536749|    90195B|BLACK GEMSTONE BR...|       1|02-12-2010 13:49| 8.95|      17976|United Kingdom|
|        536796|     22557|PLASTERS IN TIN V...|       1|02-12-2010 15:46| 1.65|      15574|United Kingdom|
|        536830|     84077|WORLD WAR 2 GLIDE...|    2880|02-12-2010 17:38| 0.18|      16754|United Kingdom|
|        536841|     22077|6 RIBBONS RUSTIC ...|      12|02-12-2010 18:27| 1.65|      16150|United Kingdom|
+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
only showing top 20 rows

In [ ]:
df_1.dtypes

[('transaction_id', 'int'),
 ('product_id', 'string'),
 ('product_name', 'string'),
 ('quantity', 'int'),
 ('transaction_date', 'string'),
 ('price', 'double'),
 ('customer_id', 'int'),
 ('country', 'string')]

In [ ]:
from pyspark.sql.functions import substring,to_date

df_1 = df_1.withColumn('transaction_date', to_date(substring(df_1['transaction_date'], 1, 10), 'dd-MM-yyyy'))

df_1.show()

+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
|transaction_id|product_id|        product_name|quantity|transaction_date|price|customer_id|       country|
+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
|        536381|     22411|JUMBO SHOPPER VIN...|      10|      2010-12-01| 1.95|      15311|United Kingdom|
|        536392|     22827|RUSTIC  SEVENTEEN...|       1|      2010-12-01|165.0|      13705|United Kingdom|
|        536401|     21592|RETROSPOT CIGAR B...|       1|      2010-12-01| 1.25|      15862|United Kingdom|
|        536464|     22988|   SOLDIERS EGG CUP |       1|      2010-12-01| 1.25|      17968|United Kingdom|
|        536464|     22910|PAPER CHAIN KIT V...|       1|      2010-12-01| 2.95|      17968|United Kingdom|
|        536488|     20878|SET/9 CHRISTMAS T...|       2|      2010-12-01| 1.25|      17897|United Kingdom|
|        536500|     22712|    CARD DOLLY GIRL |      12|      2010-12-01| 0.42|      17377|United Kingdom|
|        536522|     84969|BOX OF 6 ASSORTED...|       1|      2010-12-01| 4.25|      15012|United Kingdom|
|        536569|     22640|SET OF 4 NAPKIN C...|       1|      2010-12-01| 2.55|      16274|United Kingdom|
|        536597|     20726|  LUNCH BAG WOODLAND|       1|      2010-12-01| 1.65|      18011|United Kingdom|
|        536608|     22863|  SOAP DISH BROCANTE|       6|      2010-12-02| 2.95|      12855|United Kingdom|
|        536618|     22440|BALLOON WATER BOM...|      40|      2010-12-02| 0.42|      17017|United Kingdom|
|        536620|     22744|MAKE YOUR OWN MON...|       6|      2010-12-02| 2.95|      14135|United Kingdom|
|        536672|     21288|STRIPEY CHOCOLATE...|       6|      2010-12-02| 2.95|      14491|United Kingdom|
|        536674|     20832|RED FLOCK LOVE HE...|       4|      2010-12-02| 0.85|      15923|United Kingdom|
|        536741|     22652|   TRAVEL SEWING KIT|      10|      2010-12-02| 1.65|      13117|United Kingdom|
|        536749|    90195B|BLACK GEMSTONE BR...|       1|      2010-12-02| 8.95|      17976|United Kingdom|
|        536796|     22557|PLASTERS IN TIN V...|       1|      2010-12-02| 1.65|      15574|United Kingdom|
|        536830|     84077|WORLD WAR 2 GLIDE...|    2880|      2010-12-02| 0.18|      16754|United Kingdom|
|        536841|     22077|6 RIBBONS RUSTIC ...|      12|      2010-12-02| 1.65|      16150|United Kingdom|
+--------------+----------+--------------------+--------+----------------+-----+-----------+--------------+
only showing top 20 rows

In [ ]:
df_1.dtypes

[('transaction_id', 'int'),
 ('product_id', 'string'),
 ('product_name', 'string'),
 ('quantity', 'int'),
 ('transaction_date', 'date'),
 ('price', 'double'),
 ('customer_id', 'int'),
 ('country', 'string')]

In [ ]:
import os
pandas_df = df_1.toPandas()

local_directory = r"C:\Users\jyoth\Downloads\Projects\MarketBasketAnalysis"

os.makedirs(local_directory, exist_ok=True)

file_name = "local_output.csv"

local_file_path = os.path.join(local_directory, file_name)

pandas_df.to_csv(local_file_path, index=False)

In [ ]:
from google.colab import files

files.download("local_output.csv")